* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.links {
  text-decoration: none;
  color: aliceblue;
}
.button {
  background-color: rgb(16, 21, 58);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  text-decoration: none;
}
.button:hover {
  background-color: orange;
  color: black;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

/*----------- Header -----------*/

.header-top-strip {
  background-color: silver;
  border-bottom: 1px solid silver;
}
.header-upper {
  background-color: grey;
}
.header-upper .input-group-text {
  background-color: rgb(214, 162, 18);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: aliceblue;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

/*----------- Header end -----------*/

/*----------- Footer -----------*/

footer {
  background-color: grey;
}

footer:nth-child(3) {
  border-top: 1px silver solid;
}
footer:first-child {
  border-bottom: 1px silver solid;
}

.f-links {
  text-decoration: none;
  color: white;
}

.f-links:hover {
  color: black;
}

/*----------- Footer End -----------*/

/* ------------- Home Page ------------ */

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bf4800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bf4800;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.small-banner {
  width: 49%;
}

/* -------Home wrapper 2 --------- */
.home-wrapper-2 {
  background-color: #f5f5f7;
}

/* -------Home wrapper 2 --------- */
/* -------- categories section  -------- */

.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 24%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid #ededed;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid #ededed;
}

/* -------- categories section  -------- */

/* ------------- Home Page ------------ */

/* ---------- Blog Cards ----------- */

.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}

/* ---------- Blog Cards ----------- */

/* ----------- Product Card ---------- */

.product-card {
  padding: 15px;
  background-color: white;
  /* box-shadow: ; */
  border-radius: 10px;
  overflow: hidden;
}
.product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:first-child {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  display: block;
}
.product-card:hover .action-bar {
  right: 10px;
}
.product-card .product-details h6 {
  color: #bf4800;
  font-size: 13px;
}
.product-card .product-details p.price {
  font-size: 16px;
}
.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}
/* ----------- Product Card ---------- */

/*--------------- special-product-------------- */

.special-product-cart {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

/*--------------- special-product-------------- */

/* ----------- famouse card ----------- */
.famous-card .famous-content {
  top: 10%;
  left: 10%;
}
.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400px;
  margin-bottom: 7px;
}
.famous-content h6 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}
/* ----------- famouse card ----------- */
/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: silver;
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgb(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: #bf4800;
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: silver;
  margin-bottom: 15px;
}
/* Our Store */
